.footer {
  width: 100%;
  margin-bottom: 16px;

  padding-left: 16px;
  padding-right: 16px;

  &__wrp {
    max-width: 1126px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    padding: 34px;
    gap: 16px;

    @extend %flexCentBetwin;
    align-items: flex-start;

    @include __860 {
      gap: 24px;
      flex-direction: column-reverse;
      align-items: center;
    }
  }

  &__wrp-back {
    @include widthPaga;

    margin-left: auto;
    margin-right: auto;

    background: linear-gradient(
      135deg,
      #f36c21 0%,
      #ffb053 42.62%,
      #ffeedf 94.07%
    );
    border-radius: 45px;
  }

  &__info-wrp {
    gap: 16px;

    display: flex;
    flex-direction: column;

    & a {
      color: white;
    }
  }

  &__nav-info {
    max-width: 300px;
    width: 100%;
    // height: 180px;

    gap: 32px;

    display: flex;
    justify-content: space-between;

    & a {
      width: 100%;
      text-align: left;
    }
  }

  &__social {
    display: flex;
  }

  &__address {
    max-width: 268px;
  }

  &__addres-wrp {
    display: flex;
    flex-direction: column;

    gap: 16px;

    @include __860 {
      text-align: center;
    }
  }

  &__nav-info-wrp {
    display: flex;
    flex-direction: column;

    gap: 16px;
  }
}
