.main-page {
  padding-top: 96px;

  display: flex;
  flex-direction: column;
  align-items: center;

  &__bun {
    width: 100%;

    padding-left: 16px;
    padding-right: 16px;
  }

  &__bun-wrp {
    width: 100%;
    height: 500px;

    margin-bottom: 40px;

    @include widthPaga;
    @extend %marginCenter;
    @extend %flexCent;

    border-radius: 45px;
    background: rgb(255, 176, 83);
    background: linear-gradient(
      135deg,
      rgba(243, 108, 33, 1) 0%,
      rgba(255, 176, 83, 1) 37%,
      rgba(255, 238, 223, 1) 135%
    );
  }

  &__bun-content-wrp {
    width: 100%;
    max-width: 1200px;

    gap: 24px;

    @extend %flexCentBetwin;

    @include __860 {
      flex-direction: column;
    }
  }

  &__bun-text-wrp {
    max-width: 544px;
    width: 100%;

    @include __860 {
      text-align: center;
    }
  }

  &__title-h1 {
    margin-bottom: 24px;

    font-size: 34px;
    font-weight: 600;
    letter-spacing: 0.34px;
    line-height: 120%;

    @include __860 {
      font-size: 22px;
    }
  }

  &__bun-img {
    margin-bottom: 50px;
  }

  &__title-wrp {
    @extend %flexCent;

    gap: 16px;
  }

  &__title-number {
    width: 44px;
    height: 44px;

    @extend %flexCent;

    font-size: 20px;
    font-weight: 500;

    color: white;
    background-color: $color-orang-800;
    border-radius: 50%;
  }

  &__title-text {
    height: 44px;

    padding-left: 16px;
    padding-right: 16px;

    @extend %flexCent;

    font-size: 20px;
    font-weight: 500;

    border: 1px solid black;
    border-radius: 30px;
  }

  &__title {
    @extend %flexStartJus;
    margin-bottom: 32px;

    gap: 24px;

    flex-direction: column;
    align-items: flex-start;
  }

  &__title-h2 {
    font-size: 34px;
    font-weight: 600;
    line-height: 120%;

    @include __860 {
      font-size: 22px;
    }
  }

  &__about-compani {
    margin-bottom: 50px;
    @include widthPaga;
  }

  &__about-compani-text {
    & h3 {
      margin-bottom: 16px;
    }

    & p {
      margin-bottom: 8px;
    }

    & ul {
      padding-left: 24px;

      list-style: disc;
    }

    & li {
      margin-bottom: 8px;
    }
  }

  &__assortment {
    margin-bottom: 40px;
    @include widthPaga;
  }

  &__assortment-container-wrp {
    margin-bottom: 40px;
    padding-top: 34px;

    column-gap: 24px;
    row-gap: 48px;

    @extend %flexStartJus;
    flex-wrap: wrap;

    @include __860 {
      row-gap: 8px;
    }
  }

  &__assortment-container {
    // max-width: 464px;
    // width: 100%;
    height: 120px;

    position: relative;

    border-radius: 8px;
    background-color: $color-gray-100;

    @include set-item-count-in-row(3);

    @include __1160 {
      @include set-item-count-in-row(2);
    }

    @include __860 {
      height: 88px;
      @include set-item-count-in-row(1);

      padding: 8px;
      gap: 16px;

      display: flex;
      align-items: center;
    }
  }

  &__assortment-container:last-child {
    background: linear-gradient(149deg, #f36c21 1.78%, #ffd6bf 100%);

    & .main-page__assortment-text {
      color: white;
    }
  }

  &__assortment-icon {
    position: absolute;

    top: -34px;
    left: 49px;

    @include __860 {
      position: relative;

      top: auto;
      left: auto;
    }
  }

  &__assortment-text {
    padding-top: 32px;
    padding-left: 49px;
    padding-right: 49px;

    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    text-align: left;
    line-height: 140%;

    @include __860 {
      padding: 0;
    }
  }

  &__assortment-btn-wrp {
    position: absolute;
    bottom: 49px;
    right: 32px;

    @include __860 {
      bottom: 24px;
    }
  }

  &__assortment-icon-wrp {
    width: 60px;

    @extend %flexCent;
  }

  &__assortment-text-wrp {
    padding: 32px;

    box-shadow: 0px 3px 11px 0px rgba(0, 0, 0, 0.2);
    border-radius: 12px;
  }

  &__b2b {
    width: 100%;

    & > .main-page__title {
      @include widthPaga;

      margin-left: auto;
      margin-right: auto;
    }
  }

  &__content-wrp {
    padding-bottom: 120px;
    margin-bottom: 32px;

    background-image: url("/public/img/b2b-back.png");
    background-repeat: no-repeat;
    background-size: cover;

    @extend %flexCent;
    flex-direction: column;

    @include __860 {
      padding-bottom: 46px;
    }
  }

  &__b2b-logo-wrp {
    width: 161px;
    height: 161px;

    margin-bottom: 32px;
    margin-top: 40px;

    background: linear-gradient(
      137deg,
      rgba(255, 255, 255, 0.54) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(7.5px);

    border-radius: 50%;

    @extend %flexCent;

    & p {
      color: $color-orang-800;
      font-size: 64px;
      font-weight: 900;
      line-height: 120%;
      letter-spacing: 0.64px;
    }
  }

  &__title {
    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
    // color: white;
  }

  &__title-text {
    font-size: 20px;
    font-weight: 600;
    line-height: 150%; /* 30px */
    text-transform: uppercase;
    // color: white;
  }

  &__b2b-block-wrp {
    width: 100%;

    padding-left: 16px;
    padding-right: 16px;

    margin-bottom: 32px;

    @extend %flexCent;
    gap: 16px;

    @include __1160 {
      flex-wrap: wrap;
    }
  }

  &__b2b-block {
    max-width: 343px;
    width: 100%;
    height: 300px;

    @extend %flexCent;

    background: linear-gradient(
      137deg,
      rgba(255, 255, 255, 0.54) 0%,
      rgba(255, 255, 255, 0.1) 100%
    );
    box-shadow: 0px 1px 25px 0px rgba(0, 0, 0, 0.05);
    backdrop-filter: blur(7.5px);
    border-radius: 20px;

    color: white;

    @include __860 {
      max-width: inherit;
      height: auto;

      padding: 16px;
    }

    & > p {
      padding-left: 16px;
      padding-right: 16px;
    }
  }

  &__b2b-title {
    margin-bottom: 10px;

    font-size: 32px;
    font-weight: 600;
    line-height: 130%;
    color: white;
    text-align: center;
  }

  &__b2b-title-text {
    margin-bottom: 32px;

    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    color: white;
    text-transform: uppercase;
  }

  &__b2b-btm {
    max-width: 364px;
    width: 100%;
    height: 40px;

    padding: 16px 40px;

    @extend %flexCent;

    background-color: white;
    border-radius: 8px;

    color: $color-orang-800;
    transition: 0.3s;

    &:hover {
      background-color: $color-orang-800;
      color: white;
      transition: 0.3s;
    }
  }

  &__out-partner {
    @include widthPaga;

    margin-bottom: 40px;
  }

  &__out-partner-img-wrp {
    max-width: 720px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    @extend %flexCent;
    position: relative;
  }

  &__out-partner-img {
    @include __860 {
      display: none;
    }
  }

  &__out-partner-img-mob {
    display: none;

    @include __860 {
      display: block;
    }
  }

  &__cooperation {
    @include widthPaga;

    margin-bottom: 42px;
  }

  &__cooperation-stage-title {
    margin-bottom: 8px;

    font-size: 24px;
    line-height: 140%;
    font-weight: 800;
  }

  &__cooperation-line {
    width: 100%;
    height: 1px;

    margin-bottom: 16px;

    display: flex;

    background-color: $color-gray-300;
  }

  &__cooperation-stage-content-wrp {
    max-width: 276px;
    width: 100%;
  }

  &__cooperation-stage-wrp {
    max-width: 1145px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;

    @extend %flexCentBetwin;

    margin-bottom: 24px;
    gap: 16px;

    flex-wrap: wrap;

    @include __860 {
      justify-content: center;
    }
  }

  &__cooperation-service {
    max-width: 1224px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 8px;
  }

  &__cooperation-service-title {
    margin-bottom: 24px;

    font-size: 24px;
    font-weight: 600;
    line-height: 120%;
  }

  &__cooperation-service-icom {
    margin-bottom: 24px;
  }

  &__cooperation-service-text {
    text-align: center;
  }

  &__cooperation-service-block {
    max-width: 168px;
    width: 100%;

    @extend %flexCent;
    flex-direction: column;
  }

  &__cooperation-service-blocks-wrp {
    gap: 16px;

    @extend %flexCentBetwin;

    @include __860 {
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &__cooperation-service-description {
    padding-top: 32px;
  }

  &__cooperation-service-description-wrp {
    max-width: 1224px;
    width: 100%;

    margin-left: auto;
    margin-right: auto;
  }
}
