@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

$font-main: "Inter", sans-serif;

$width-page: 1472px;

$color-orang-800: #f36c21;
$color-gray-900: #2b2b2b;
$color-gray-100: #f3f3f3;
